<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaTua Milktea</title>
    <link rel="stylesheet" href="duan01.css">
</head>
<body>
    <div class="left-section">
        <img src="http://localhost/duan01/duan01img/LOGO-removebg-preview.png" alt="Logo" style="width: 150px;">
      </div>
    
      <div class="center-section">
        <input type="text" class="search-input" placeholder="Tìm kiếm sản phẩm...">
       
      </div>
        <button onclick="window.location.href='dangnhap.html'"  class="nut-dat">Đăng nhập</button>
        <button onclick="window.location.href='dangky.html'"  class="nut-dat1">Đăng ký</button>
     
    
</body>

</html>